HOSTNAME=localhost

MOODLE_SITE_LONG_NAME=
MOODLE_SITE_SHORT_NAME=

MOODLE_URL_SCHEME=https

MOODLE_ADMIN_USERNAME=
MOODLE_ADMIN_PASSWORD=
MOODLE_ADMIN_EMAIL=

MOODLE_DB_PASSWORD=

NGINX_HOSTNAME=localhost
LETS_ENCRYPT_EMAIL=

PLAYER_ROOT_PATH=/player
PLAYER_STANDALONE_LAUNCH_URL_BASE=https://localhost/player
PLAYER_CONTENT_URL=https://localhost/player/content

PLAYER_KEY=cts
PLAYER_SECRET=player-secret
PLAYER_TOKEN_SECRET=player-token-secret

LRS_ENDPOINT=https://lrs.local.net/xapi
LRS_USERNAME=
LRS_PASSWORD=

## Dev Only, set to 0 to allow self-signed certs
NODE_TLS_REJECT_UNAUTHORIZED=1